altair==5.3.0
appnope==0.1.4
asttokens==2.4.1
attrs==23.2.0
aws-c-auth==0.7.17
aws-c-cal==0.6.11
aws-c-common==0.9.15
aws-c-compression==0.2.18
aws-c-event-stream==0.4.2
aws-c-http==0.8.1
aws-c-io==0.14.7
aws-c-mqtt==0.10.3
aws-c-s3==0.5.7
aws-c-sdkutils==0.1.15
aws-checksums==0.1.18
aws-crt-cpp==0.26.6
aws-sdk-cpp==1.11.267
backcall==0.2.0
backports==1.0
backports.zoneinfo==0.2.1
blinker==1.8.1
brotli-python==1.1.0
bzip2==1.0.8
c-ares==1.28.1
ca-certificates==2024.2.2
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.2
contourpy==1.1.1
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
executing==2.0.1
fonttools==4.52.4
freetype==2.12.1
gflags==2.2.2
gitdb==4.0.11
gitpython==3.1.43
glog==0.7.0
icu==73.2
idna==3.7
importlib-metadata==7.1.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
ipykernel==6.29.3
ipython==8.12.0
ipywidgets==8.1.2
jedi==0.19.1
jinja2==3.1.3
joblib==1.4.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
krb5==1.21.2
lcms2==2.16
lerc==4.0.0
libabseil==20240116.1
libarrow==15.0.2
libarrow-acero==15.0.2
libarrow-dataset==15.0.2
libarrow-flight==15.0.2
libarrow-flight-sql==15.0.2
libarrow-gandiva==15.0.2
libarrow-substrait==15.0.2
libblas==3.9.0
libbrotlicommon==1.1.0
libbrotlidec==1.1.0
libbrotlienc==1.1.0
libcblas==3.9.0
libcrc32c==1.1.2
libcurl==8.7.1
libcxx==16.0.6
libdeflate==1.20
libedit==3.1.20191231
libev==4.33
libevent==2.1.12
libffi==3.4.2
libgfortran==5.0.0
libgfortran5==13.2.0
libgoogle-cloud==2.23.0
libgoogle-cloud-storage==2.23.0
libgrpc==1.62.2
libiconv==1.17
libjpeg-turbo==3.0.0
liblapack==3.9.0
libllvm16==16.0.6
libnghttp2==1.58.0
libopenblas==0.3.25
libparquet==15.0.2
libpng==1.6.43
libprotobuf==4.25.3
libre2-11==2023.09.01
libsodium==1.0.18
libsqlite==3.45.3
libssh2==1.11.0
libthrift==0.19.0
libtiff==4.6.0
libutf8proc==2.8.0
libwebp-base==1.4.0
libxcb==1.15
libxgboost==2.0.3
libxml2==2.12.6
libzlib==1.2.13
llvm-openmp==18.1.3
lz4-c==1.9.4
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
ncurses==6.4.20240210
nest-asyncio==1.6.0
numpy==1.24.4
openjpeg==2.5.2
openssl==3.2.1
orc==2.0.0
packaging==24.0
pandas==2.0.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pip==24.0
pkgutil-resolve-name==1.3.10
platformdirs==4.2.1
plotly==5.22.0
pooch==1.8.1
prompt-toolkit==3.0.42
prompt_toolkit==3.0.42
protobuf==4.25.3
psutil==5.9.8
pthread-stubs==0.4
ptyprocess==0.7.0
pure_eval==0.2.2
py-xgboost==2.0.3
pyarrow==15.0.2
pydeck==0.8.0
pygments==2.17.2
pyparsing==3.1.2
pysocks==1.7.1
python==3.8.19
python-dateutil==2.9.0
python-tzdata==2024.1
python_abi==3.8
pytz==2024.1
pyyaml==6.0.1
pyzmq==26.0.2
re2==2023.09.01
readline==8.2
referencing==0.35.0
requests==2.31.0
rich==13.7.1
rpds-py==0.18.0
scikit-learn==1.3.2
scipy==1.10.1
setuptools==69.5.1
six==1.16.0
smmap==5.0.0
snappy==1.2.0
stack_data==0.6.2
streamlit==1.33.0
tenacity==8.2.3
threadpoolctl==3.4.0
tk==8.6.13
toml==0.10.2
toolz==0.12.1
tornado==6.4
traitlets==5.14.3
typing-extensions==4.11.0
typing_extensions==4.11.0
tzdata==2024a
tzlocal==5.2
urllib3==2.2.1
validators==0.28.1
watchdog==4.0.0
wcwidth==0.2.13
wheel==0.43.0
widgetsnbextension==4.0.10
xgboost==2.0.3
xorg-libxau==1.0.11
xorg-libxdmcp==1.1.3
xz==5.2.6
yaml==0.2.5
zeromq==4.3.5
zipp==3.17.0
zstd==1.5.5